@inherits LayoutComponentBase
<div class="page">
    <main>
        <NavMenu />
        
        <div class="w3-content w3-padding" style="max-width:1564px">
            @Body
        </div>
    </main>
</div>
