<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="" class="w3-bar-item w3-button"><img src="favicon.png" alt="logo">Terior Design</a>
        <nav class="w3-right w3-hide-small">
            <NavLink class="w3-bar-item w3-button" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="w3-bar-item w3-button" href="about">About</NavLink>
            <NavLink class="w3-bar-item w3-button" href="projects">Projects</NavLink>
        </nav>
    </div>
</div>